@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #111111;
  --text-color: #ffffff;
}

/* Dark theme */
[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #ffffff;
}

/* White theme */
[data-theme="white"] {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-josefin-slab: var(--next-font-josefin-slab);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --testcolor1: #5482ff;
    --testcolor2: #A6C8FF;
    --testcolor3: #06011b;
    --testcolor4: #FF9FFC;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.myBtnBg {
  background: linear-gradient(#fdfcffa2 23%, #fdf8f8 63%, #eefdff9a 90%);
  background-size: 100% 100%;
  border: 4px solid #b18c3a1f;
  border-radius: 25px;
  box-shadow: inset -2px 0px 11px 5px #81807240;
}

.qualification_title{
  width: 100%;
  max-width: fit-content;
  height: 100%;
  /* background: url('./component/text_bg01.jpg'); */
  background: #ffffff;
background: linear-gradient(50deg,rgba(255, 255, 255, 1) 32%, rgba(160, 186, 219, 1) 65%, rgba(31, 102, 255, 1) 81%, rgba(34, 7, 242, 1) 97%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}